body{
    font-family: 'Nanum Gothic', sans-serif;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    height: 3000px;
}
img{
    display:block;
    /* 이미지는 원래 글자처럼(inline) 취급되지만 블락으로 취급하겠다는 선언 */
}
a{
    text-decoration: none;
}
.inner{
    width:1100px;
    margin: 0 auto;
    position: relative;
}
.btn{
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: 0.4s;
}
.btn:hover {
    background-color:#333 ;
    color: #fff;
}
.btn.btn--reverse {
    background-color:#333 ;
    color: #fff;
}
.btn.btn--reverse:hover {
    background-color:transparent ;
    color: #333;
}
.btn.btn--brown {
    border-color:#592B18 ;
    color: #592B18;
}
.btn.btn--brown:hover {
    background-color:#592B18 ;
    color: #fff;
}

.btn.btn--gold {
    border-color:#D9AA8A ;
    color: #D9AA8A;
}
.btn.btn--gold:hover {
    background-color:#D9AA8A ;
    color: #fff;
}
.btn.btn--white {
    border-color:#fff ;
    color: #fff;
}
.btn.btn--white:hover {
    background-color:#333 ;
    color: #fff;
}
